<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="../styling/style.css" /> -->
  <!-- stying our chat application -->
  <style>
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .thumbnail {
    padding: 0 0 0 0;
    border: none;
    border-radius: 50;
    width: 30px;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  .nav-tabs li a {
    color: #777;
  }
  #googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }
    body{
  font-family: 'Nunito';
 
  padding-top: 80px;
  word-wrap: break-word;
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#group-chat{
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
  display: none;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}
#heading{
  background-color: rgb(66, 0, 128);
}
#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
  </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">
              <img src="logo_code_partner.png" width="300" height="70px" />
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <div class="container">
    </div>

    <div class="row">
        <div class="col-sm-4">
          <p class="text-center"><strong></strong></p><br>
        </div>

        <div class="col-sm-8">
          <p class="text-center"><strong></strong></p><br>
         
        </div>
      </div>


  <!-- the chat application start here -->
  <div class="row">
    <div class="span2">
      <ul id="people" class="unstyled"></ul>
    </div>
  </div>
  
  <div class="span5 offset2" id="login">
    <form class="form-inline">
      <label><h2> enter your nickname</h2></label>
      <input type="text" class="input-small" placeholder="Your name" id="name" />
      <button type="button" id="join">Join</button>
    </form>
  </div>
  <!-- public_chat -->
  <div id="group-chat">
    <h2 style="text-align: center" id="heading">CHAT_APPLICATION</h2>
    <div id="chat-window">
      <div id="output"></div>
    </div>
    <form id="form2">
      <input id="message" type="text" placeholder="Message" />
      <button type="button" id="button">SEND</button>

    </form>
  </div>

  <!-- chat.js start here -->
  <script>
    $(document).ready(function () {
      var socket = io.connect("localhost:5000");
      //link for sending afile
      var group_chat = $("#group-chat")
      var login = $("#login")
      var message = $("#message")
      var button = $("#button")
      var output = $("#output")
      var join = $("#join")
      var name = $("#name")
      var people = $("#people")
      button.click(function (e) {
        e.preventDefault();
        socket.emit('send message', message.val(), function (data) {
          alert(data)
        });
        message.val('')
      })
      socket.on('load old msgs', function (docs) {
        for (let i = 0; i < docs.length; i++) {
          displayData(docs[i])
        }

      })
      socket.on('new message', function (data) {
        displayData(data)
      })

      //whisper
      socket.on('whisper', function (data) {
        displayData(data)
      })

      function displayData(data) {
        output.append('<p><strong>' + data.nick + ': </strong>' + data.msg + '</p>')
      }
      join.click(function (e) {
        e.preventDefault();
        socket.emit('new_user', name.val(), function (data) {
          if (data) {
            group_chat.show()
            login.hide()
          } else {
            alert('the username already taken by somebody please try another')
          }
        })
        name.val('')
      })

      //
      socket.on('username', function (data) {
        var html = ''
        for (let i = 0; i < data.length; i++) {
          html += data[i] + '<br/>'
        }
        people.html(html)
      })
      //file upload
      document.getElementById("upload_btn").addEventListener("click", siofu.prompt, false);
      siofu.listenOnInput(document.getElementById("upload_input"));
      siofu.listenOnDrop(document.getElementById("file_drop"));

      siofu.addEventListener("progress", function (event) {
        var percent = event.bytesLoaded / event.file.size * 100;
        console.log("File is", percent.toFixed(2), "percent loaded");
      });

      siofu.addEventListener("complete", function (event) {
        console.log(event.success);
        console.log(event.file);
      });
    })
  </script>
</body>
<!-- <script src="../styling/chat.js"></script> -->

</html>